@model IEnumerable<PurchaseOrder>


<!DOCTYPE html>
<html>
<head>
    @{
        ViewData["Title"] = "Purchase Order";
    }
    <meta charset="utf-8" : />
</head>
<body>
    <h1>Purchase Orders  -  <a asp-action="Create" asp-controller="PurchaseOrders" class="btn btn-sm bg-success text-white">Generate Purchase Order</a></h1>

    <div class="row col-md-10">

        <table class="table">
            <thead class="text-center">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Cod)</th>
                    <th>@Html.DisplayNameFor(model => model.Providers.CorporateName)</th>
                    <th>@Html.DisplayNameFor(model => model.PurchDate)</th>
                    <th>@Html.DisplayNameFor(model => model.PriceOrder)</th>
                </tr>
            </thead>
            @foreach (PurchaseOrder purchaseOrder in Model)
            {
                <tbody class="text-center">
                    <tr>
                        <td>@Html.DisplayFor(model => purchaseOrder.Id)</td>
                        <td>@Html.DisplayFor(model => purchaseOrder.Cod)</td>
                        <td>@Html.DisplayFor(model => purchaseOrder.Providers.CorporateName)</td>
                        <td>@Html.DisplayFor(model => purchaseOrder.PurchDate)</td>
                        <td>@Html.DisplayFor(model => purchaseOrder.PriceOrder)</td>
                        <td>
                            <a asp-action="Create" asp-controller="PurchaseOrdemItems" class="btn btn-sm bg-success text-white">Issue Purchase Order</a>
                            <a asp-action="Edit" asp-controller="PurchaseOrders" class="btn btn-sm bg-warning text-white" asp-route-id="@purchaseOrder.Id"> Edit</a>
                            <a asp-action="Delete" asp-controller="PurchaseOrders" class="btn btn-sm bg-danger text-white" asp-route-id="@purchaseOrder.Id"> Delete</a>

                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</body>
</html>



