@model AssuncaoDistribution.Models.Provider



<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" />
</head>

<body>

    <div class="row col-6">

        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.CorporateName)</dt>
            <dd>@Html.DisplayFor(model => model.CorporateName)</dd>

            <dt>@Html.DisplayNameFor(model => model.FantasyName)</dt>
            <dd>@Html.DisplayFor(model => model.FantasyName)</dd>

            <dt>@Html.DisplayNameFor(model => model.CnpjOrCpfProv)</dt>
            <dd>@Html.DisplayFor(model => model.CnpjOrCpfProv)</dd>

            <dt>@Html.DisplayNameFor(model => model.AddresProv)</dt>
            <dd>@Html.DisplayFor(model => model.AddresProv)</dd>

            <dt>@Html.DisplayNameFor(model => model.DistrictProv)</dt>
            <dd>@Html.DisplayFor(model => model.DistrictProv)</dd>

            <dt>@Html.DisplayNameFor(model => model.CepProv)</dt>
            <dd>@Html.DisplayFor(model => model.CepProv)</dd>

            <dt>@Html.DisplayNameFor(model => model.CityProv)</dt>
            <dd>@Html.DisplayFor(model => model.CityProv)</dd>

            <dt>@Html.DisplayNameFor(model => model.PhoneProv)</dt>
            <dd>@Html.DisplayFor(model => model.PhoneProv)</dd>

            <dt>@Html.DisplayNameFor(model => model.Fax)</dt>
            <dd>@Html.DisplayFor(model => model.Fax)</dd>

            <dt>@Html.DisplayNameFor(model => model.EmailProv)</dt>
            <dd>@Html.DisplayFor(model => model.EmailProv)</dd>


            <dt>@Html.DisplayNameFor(model => model.Contact)</dt>
            <dd>@Html.DisplayFor(model => model.Contact)</dd>

            <dt>@Html.DisplayNameFor(model => model.Portage)</dt>
            <dd>@Html.DisplayFor(model => model.Portage)</dd>
        </dl>
     </div>
</body>
</html>